@import "../../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.grid1-custome{
    float: left;
    width: 40%;
}

.grid2-custome{
    float: left;
    width: 40%;
}
.grid-fix-height{
    height: 250px;
}
.left-right-arrow-div{
    float: left;
    width: 5%;
    height: 250px;
}
.left-right-arrow-aline{
    margin-top: 78px;
    margin-left: 13px;
}
.fourth-div{
    float: left;
    width: 5%;
}
.e-grid td.e-active {
    background-color: #1E90FF;
    color: white;
}